.hidden{display:none!important}

body {
  background-color: black;
  color: white;
  text-align: center;
}

#map {
  height: 1000px;
}

button {
  background-color: orange;
}








/*input[type=text]{
  background-color: green;
}*/
