.hidden{display:none!important}

body {
  background-color: black;
  color: white;
  text-align: center;
}

#map {
  height: 1000px;
}

button {
  background-color: orange;
}


#nav {
  margin: 13px 0 0 0;
}

#nav ul li {
  display: inline;
  margin: 0 20px 0 0;
  margin-bottom: 130px;
}





/*input[type=text]{
  background-color: green;
}*/
